<div class="container">
  <h2 class="text-center">Ender, the Xenocide</h2>
  <div class="col-md-1 col-md-offset-1">
    <button class="btn btn-default" ng-click="decrementImg()"><i class="glyphicon
      glyphicon-triangle-left"></i>Prev</button>
  </div>
  <div class="col-md-8 screen">
    <img ng-src="..\images\ender\ender-{{imgNum}}.jpg" alt="Images of Ender"/>
    <p>Many have struggled against difficult conditions, but few have overcome as much as Ender.  He was a third child in a time where only two children were allowed by law to slow population growth - he entered life as a target for hatred, bringing it not just upon himself but his whole family.</p><p>However, the challenges he faced as a very young child prepared him for his pre-teen years, as he was trained to command Earth's entire fleet in the ongoing fight against the Formics (also known as the Buggers), an ant-like alien race that had almost destroyed humanity.</p>
  </div>
  <div class="col-md-1">
    <button class="btn btn-default" ng-click="incrementImg()">Next<i class="glyphicon
       glyphicon-triangle-right"></i></button>
  </div>
</div>
