<div class="container">
  <h2 class="text-center">Malcolm Reynolds</h2>
  <div class="col-md-1 col-md-offset-1">
    <button class="btn btn-default" ng-click="decrementImg()"><i class="glyphicon
      glyphicon-triangle-left"></i>Prev</button>
  </div>
  <div class="col-md-8 screen">
    <img ng-src="..\images\mal\mal-{{imgName}}" alt="Images of Mal Reynolds"/>
    <p>Mal rose to fame in the unification war, where he fought as an infantry sergeant for the Independents, also known as the Browncoats. He left the war defeated and disillusioned, but not broken.  Now, he captains a starship, making his living between the planets, as much out of the reach of the Federation as he can be.</p>
  </div>
  <div class="col-md-1">
    <button class="btn btn-default" ng-click="incrementImg()">Next<i class="glyphicon
       glyphicon-triangle-right"></i></button>
  </div>
</div>
